@mixin wide {
	@media screen and (min-width: 75rem) and ((min-aspect-ratio: 2/3) or (orientation: landscape)) {
		@content
	}
}

body {
	box-sizing: border-box;
	display: grid;
	grid-template: "header" "theme" "contents" "outline" "main" "footer" / 100%;
	margin: auto;
	margin-block: 2rem;
	max-width: 80ch;
	max-width: min(140ch, 90%);

	@include wide {
		gap: 1.5rem;
		grid-template: 
			". header ."
			"theme main outline" min-content
			"contents main outline" 1fr
			"footer footer footer"
			/ minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
	}

	> * {
		margin-block: 0.5rem;
	}

	> nav {
		grid-area: contents;

		> ol {
			max-height: calc(100cqmin - 2rem);
			overflow-y: auto;
		
			@include wide {
				height: fit-content;
				inset-block: 1rem;
				position: sticky;
			}
		}
	}

	> header {
		grid-area: header;
		margin-inline: auto;
		min-width: min(25rem, 50vw);

		> a#logo > svg {
			overflow: visible;
		}
	}

	> details {
		grid-area: theme;
		user-select: none;
		white-space: nowrap;

		&:hover {
			cursor: pointer;
		}

		fieldset {
			border: none;
			flex-direction: column;
			padding: 0;
		}

		legend {
			margin-inline-start: -1em;
			padding: 0;
		}
	}

	> main {
		grid-area: main;

		&, article, aside, ol.index {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
		}

		margin-inline: 1rem;
		overflow-wrap: break-word;
	}

	> #outline {
		grid-area: outline;
		display: block;
		margin: 0 12.5%;
		max-width: 75%;
	}
	> a#outline {
		background: -moz-element(#content) no-repeat scroll center 0 / contain;

		@media (prefers-reduced-motion: no-preference) {
			transition: opacity 0.2s ease;
		}

		@include wide {
			opacity: 0.65;

			&:hover {
				opacity: 1;
			}
		}
	}

	> footer {
		grid-area: footer;

		> nav {
			text-align: center;

			> ul {
				text-transform: lowercase;
			}
		}
	}
}

fieldset {
	display: inline-flex;
	column-gap: 1ch;
}

label {
	display: inline-flex;
	column-gap: 0.5ch;
}

nav > ul, ol.index, ul.tags {
	list-style: none;
	padding: 0;
}

nav > ul li {
	display: inline;

	&:not(:last-child)::after {
		content: " • ";
		content: " • " / " ";
	}
}

ol.index time {
	font-style: oblique;
}

ul.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

section#webring {
	gap: 1em 3em;
	display: grid;
	grid-template-columns: 1fr;
	margin-block: 3em;

	@include wide {
		grid-template-columns: repeat(3, 1fr);
		margin-inline: 7.5%;
	}

	& > * {
		margin: 0;
	}

	& > :not(article) {
		grid-column: 1 / -1;
	}

	article {
		display: flex;
		flex-direction: column;

		p {
			flex-grow: 1;
			margin-block-end: 1em;
		}

		h3 {
			font-size: smaller;
			margin: 0;
		}
	}
}

@media print {
	body {
		background: none !important;
		color: unset !important;
		grid-template: "main" / 100%;
		margin: 0;

		& > *:not(main) {
			display: none !important;
		}
	}
	main {
		margin: 0 !important;
	}
}
