:root {
	height: 100%;
	line-height: 2rem;
	tab-size: 6;
	width: 100%;
	-webkit-text-size-adjust: 100%;

	@media screen and (max-width: 50rem) {
		tab-size: 3;
	}

	@media (prefers-reduced-motion: no-preference) {
		&:not(.monochrome) {
			scroll-behavior: smooth;
		}
	}

	/* Cosmic latte and inversions, Crayola midnight blue */
	color-scheme: light dark;
	--foreground: light-dark(#000718, #fff8e7);
	--background: light-dark(#fff8e7, hsl(0, 0%, 10%));
	--accent: #003366;
	--gradient-foreground: white;
	--gradient-background: var(--accent);
	@supports (color: color(from white xyz x y z)) {
		--gradient-background: linear-gradient(120deg, black, hsl(from var(--accent) h s calc(l / 2)), var(--accent), hsl(from var(--accent) h s calc(l / 3)));
	}

	/* Developed for Noto, falls back to https://systemfontstack.com */
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	&.serif, q, blockquote {
		font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	}
	&.mono, code, pre, samp, kbd, &.mono q, &.mono blockquote, {
		font-family: 'Fira Code', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace, 'Noto Serif', 'Noto Sans';
	}

	&.lowercase {
		text-transform: lowercase;
	}

	&.monochrome {
		--foreground: light-dark(black, white);
		--background: light-dark(white, black);
		--gradient-foreground: inherit;
		--gradient-background: none;
		--accent: var(--foreground);

		*, *::before, *::after {
			animation: none !important;
			opacity: 1 !important;
		}

		a {
			text-decoration: underline;
		}
	}

	&.proton {
		/* Proton */
		color-scheme: light dark;
		--foreground: light-dark(rgb(73, 75, 122), rgb(255, 255, 255));
		--background: light-dark(rgb(247, 245, 255), rgb(22, 20, 28));
		--accent: #6d4aff;

		font-weight: 500;

		main a {
			color: light-dark(var(--accent), #99f);
		}
	}

	&.night {
		/* Rose Pine */
		color-scheme: only dark;
		--foreground: #faf4ed;
		--background: #191724;

		body > div.star {
			animation: twinkle 5s ease infinite; /* overwritten in script */
			background-color: #fff;
			border-radius: 5px;
			height: 2px;
			position: absolute;
			width: 2px;
			z-index: -1;

			@keyframes twinkle {
				0% {
					transform: scale(1, 1);
					background-color: #fff0;
				}
				60% {
					transform: scale(0.8, 0.8);
					background-color: #ffff;
				}
				80%, 100% {
					transform: scale(1, 1);
					background-color: #fff0;
				}
			}
		}
	}

	&.terminal {
		color-scheme: only dark;
		--foreground: white;
		--background: #080808;
		--accent: #33ff33;

		h1, h2, h3, h4, h5, h6 {
			color: var(--accent);
			text-shadow: 4px 4px 1em currentcolor;
			opacity: 0.9;
		}

		canvas#matrix {
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

a {
	text-decoration: none;
	color: inherit;

	&#logo {
		stroke-width: clamp(0.2em, 0.5cqw, 4px);

		&:hover svg {
			filter: drop-shadow(0 0 8px color(from var(--accent) xyz x y z / 0.5));

			@keyframes rainbow {
				@for $i from 0 through 10 {
					$i: $i * 36;
					#{$i / 3.6}% {
						stroke: hsl($i, 100%, 50%);
					}
				}
			}
			animation: rainbow 4s infinite;
		}
	}
}

:is(a:not(#outline), button):is(:focus, :hover) {
	&:not(#logo, ul.tags li a) {
		padding: 0.5em;
	}

	animation: background-gradient 2s ease-in-out infinite;
	color: var(--gradient-foreground);
	background: var(--gradient-background) repeat;
	background-size: 200% 200%;

	@keyframes background-gradient {
		from {
			background-position: 0% 50%;
		}
		to {
			background-position: -200% 50%;
		}
	}
}

address, small, :not(time) time {
	display: inline;
	font-size: smaller;

	:not(footer) {
		padding-inline-end: 0.5em;
	}
}

button {
	all: unset;
	cursor: pointer;
	display: inline;
	margin: 0;
	text-decoration: underline;
}
